# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.bak
~$*

# Dependencias
node_modules/
bower_components/
.jekyll-cache/

# Entornos y variables
.env
.env.*
!.env.example

# Logs y debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Builds automáticos
/dist
/public/build
.cache/
.out/
.next/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
Network Trash Folder
Temporary Items
.apdisk

# Testing
coverage/
.nyc_output/

# Paquetes de dependencias
jspm_packages/

# TypeScript
*.tsbuildinfo

# Sass
.sass-cache/